.svn
logs
*.log
pids
*.pid
*.seed
.grunt
/interface/dist
node_modules
.DS_Store
/local
/interface/local
public/js/plugins.js
public/js/main.js
public/js/app.js
public/css/main-blessed*
public/css/main.css
public/public
/interface/landingpage