@function form-maker($theme_list) {

	$form: (
    	border: #ddd,
    	active: (
    		border: 1px solid #2EB398
    	)
    );

	$temp_form: $form;
	$form: ();

	@each $style, $value in $temp_form {
		$verified_style: verify_theme_style(
			get($theme_list, form),
			$temp_form,
			$style
		);
		$temp_map: ( $style: $verified_style );
		$form: map-collect($form, $temp_map);
	}

  	@return $form;
}