doctype html
html.majortom(dir=dir)
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=Edge,chrome=1')
    title FiveMetrics :: Cloud Management

    //- seo
    meta(name='application-name', content='FiveMetrics')
    meta(name='description', content='Fivemetrics Cloud')
    meta(name='keywords', content='monitoring, cloud, amazon, ec2')
    meta(name='robots', content='index, follow')
    meta(name='viewport', content='width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')


    //- web app

    link(rel='manifest' href='/js/manifest.json')
    meta(name='mobile-web-app-capable', content='yes')
    meta(name='mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='application-name', content='FiveMetrics')
    meta(name='apple-mobile-web-app-title', content='FiveMetrics')
    meta(name='theme-color', content='#020202')
    meta(name='msapplication-navbutton-color', content='#020202')
    meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
    meta(name='msapplication-starturl', content='https://app.fivemetrics.io')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')

    link(rel="apple-touch-startup-image",href="/imgs/startup/Default-667h.png")
    link(rel='icon',href='/imgs/favicons/android-chrome-192x192.png',type='image/png')
    link(rel='apple-touch-icon',href='/imgs/favicons/android-chrome-192x192.png')

    link(rel='icon', type='image/png', href='/imgs/favicons/favicon-196x196.png', sizes='196x196')
    link(rel='icon', type='image/png', href='/imgs/favicons/favicon-160x160.png', sizes='160x160')
    link(rel='icon', type='image/png', href='/imgs/favicons/favicon-16x16.png', sizes='16x16')
    link(rel='icon', type='image/png', href='/imgs/favicons/favicon-32x32.png', sizes='32x32')
    link(rel='icon', type='image/png', href='/imgs/favicons/favicon-96x96.png', sizes='96x96')
    link(rel='icon', type='image/png', href='/imgs/favicons/android-chrome-192x192.png', sizes='192x192')

    link(rel='apple-touch-icon', sizes='57x57', href='/imgs/favicons/apple-touch-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='60x60', href='/imgs/favicons/apple-touch-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='72x72', href='/imgs/favicons/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='76x76', href='/imgs/favicons/apple-touch-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='114x114', href='/imgs/favicons/apple-touch-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='120x120', href='/imgs/favicons/apple-touch-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='144x144', href='/imgs/favicons/apple-touch-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='152x152', href='/imgs/favicons/apple-touch-icon-152x152.png')
    link(rel='apple-touch-icon', sizes='180x180', href='/imgs/favicons/apple-touch-icon-180x180.png')
    link(rel='apple-touch-icon', sizes='192x192', href='/imgs/favicons/android-chrome-192x192.png')


    //- favicon
    link(rel='stylesheet', href='/css/antd.css')

    link(rel='icon', type='image/png', href='/imgs/favicons/favicon.png')
    block pace
    block header

  body.pace-big()
    script(id='preloadedData', type='application/json')!=data

    block content
    div#bg-effect
        div#bg-effect-1
        div#bg-effect-2
        div#bg-effect-3
    block scripts
    block analytics
